<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= config.name %> | Sobre Nós</title>
  <meta content="We are a service who give free and paid hosting." name="description">

  <meta content="hosting, host, free, paid, discord, ram, storage" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <span><%= config.name %></span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Início</a></li>
          <li><a class="nav-link scrollto active" href="/sobre">Sobre</a></li>
          <li><a class="nav-link scrollto" href="/servicos">Serviços</a></li>
          <% if (config.status.enabled==true) { %><li><a class="nav-link scrollto" href="/status">Node Status</a></li><% } %>          <li class="dropdown"><a href="#"><span>Info</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              </li>
              <li><a href="/termos">Termos</a></li>
              <li><a href="/privacidade">Privacidade</a></li>
            </ul>
          </li>
          <li><a class="getstarted scrollto" href="/dash" target="_blank">Dashboard</a></li>
          <li><a class="getstarted2 scrollto" href="/painel" target="_blank">Painel</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->
  <br>
  <br>
  <br>
  <br>
  <br>

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <center>
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <div class="content">
                <h3>Sobre Nós</h3>
                <h2><%= config.name %></h2>
                <p>
                  Olá, Somos a DevsCloud, uma empresa de hospedagem nova no mercado, ainda com poucos clientes,
                  mas em breve com a qualidade dos serviços que nós oferecemos, seremos uma das melhores do mercado, 
                  prezamos pela qualidade do produto do cliente, oferecemos planos gratuitos e pagos para os usuários
                  de nossos serviços, todos os dois de ótima qualidade, nossos websites estão livres de anúncios para
                  melhorar a experiência do usuário.!
                </p>
                <div class="text-center text-lg-start">
                </div>
              </div>
            </div>
          </center>


        </div>
      </div>
    </section>
    <!-- End About Section -->

  </main>
  <!-- End #main -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">


  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span><%= config.name %></span>
          </a>
          <p>Somos um serviço de hospedagem que oferece planos de hospedagem grátis e pagos para nossos usuários. Nós nos preocupamos com nossos usuários, então temos nodes protegidos por DDOS para que os nodes não fiquem offlines. Usamos o Pterdactyl como nosso painel de hospedagem, pois é um painel fácil de entender para os usuários usarem.</p>
          <div class="social-links mt-3">
            <a href="/server" target="_blank" class="twitter"><i class="bi bi-discord"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li> <a href="/">Início</a></li>
            <li> <a href="/sobre">Sobre Nós</a></li>
            <li> <a href="/servicos">Serviços</a></li>
            <li> <a href="/terms">Termos de Serviço</a></li>
            <li> <a href="/privacidade">Politica de Privacidade</a></li>
            <% if (config.status.enabled==true) { %><li> <a href="/status">Node Status</a></li><% } %>
          </ul>
        </div>


        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contato</h4>
          <p>
            <strong><a href="/suporte">Suporte</a></strong><br>
            <strong>Email:</strong> suporte@devscloud.tk
            <br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span><%= config.name %></span></strong>. Todos os Direitos Reservados | <span>Website feito com ❤ por SrStellar ON#9695</span>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/purecounter/purecounter.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Main JS File -->
<script src="../assets/js/main.js"></script>

</body>

</html>